[package]
name = "nanorpc-reqwest"
version.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0.100"
async-trait = "0.1"
nanorpc = "0.1"
reqwest = { version = "0.12.23", features = ["json", "rustls-tls"] }
